html, body {
  height: 100%; }

.navbar {
  display: flex;
  align-items: center;
  padding: 30px; }

.logo {
  margin-left: 10%; }

.load-board {
  background-image: url("../assets/cork-background.jpg");
  height: 30vh;
  width: 100vw;
  border: 2px solid black; }

.main-board {
  background-image: url("../assets/cork-background.jpg");
  background-position: center;
  height: 70vh;
  width: 100vw; }
